@model alo_alo.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h3 style="text-align:center">
        BẠN CÓ CHẮC CHẮN MUỐN XÓA TÀI KHOẢN NÀY?
    </h3>
    <div>
        <h4>Thông Tin Khách Hàng</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <strong>Tên khách hàng:</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameCus)
            </dd>

            <dt>
                <strong>Số điện thoại:</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneCus)
            </dd>

            <dt>
                <strong>Email:</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailCus)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xoá" class="btn btn-default" /> |
                @Html.ActionLink("Trờ lại", "Index")
            </div>
        }
    </div>
</div>