@model alo_alo.Models.OrderDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h3 style="text-align:center">
        BẠN CÓ CHẮC CHẮN MUỐN XÓA SẢN PHẨM NÀY?
    </h3>
    <div>
        <h4>OrderDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderPro.AddressDeliverry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderPro.AddressDeliverry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.NamePro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.NamePro)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
    </div>
</div>